

<h1 align="center">Listing all articles:</h1>


 
<% @article.each do |article| %>
  <div class="row rowindex">
    <div class="card col-sm-8 bg-secondary offset-sm-2">
      <div class="card-body">
    

      <%= link_to article.title, article_path(article) %><br/>
      <%= article.description %><br/>
      <%= link_to "Edit this article", edit_article_path(article), class: "btn btn2 btn-xs btn-primary" %>
      <%= button_to "Delete this article", article_path(article), method: :delete,
        data: { confirm: "Are you sure you want to delete the article?"},
        class: "btn btn2 btn-xs btn-danger" %>

    
      </div>
    </div>

  </div>

  
      
        
       
    
  <% end %>










<!--
<div id="slika">
<h1>Created by Boki :) </h1>
<%= image_tag("13406766_1320171138012498_1129193582581249555_n.jpg", :alt => "rss feed") %>
</div>
-->


