<h1 align="center"><%= "Category: " + @category.name %></h1>
<div class="col-sm-3 offset-sm-5" >
  <% if logged_in? and current_user.admin? %>
    <%= link_to "Edit Category Name", edit_category_path(@category),class: "editbutton" %>
  <% end %>
  </div>

<div class="col-sm-4 offset-sm-4" >
  <%= will_paginate @category_articles  %>
</div>

<%= render partial: "articles/article", collection: @category_articles %>

<div class="col-sm-4 offset-sm-4" >
  <%= will_paginate @category_articles %>
</div>


